        body {
          height: 100%;
          padding 10%;
         }

         html {
          margin: auto;
         }

         body {
          vertical-align: middle;
         }

         img {
            height: auto;
            width: 50%;
         }

         #hideimage {
                  display:none;
          }

          p {
            font-size: 2em;
            color: #213C53;
            font-family: 'Sofia';
         }
         
         #hidetext {
                  display:none;
          }


